@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-02-28 10:46:59
 * @version $Id$
 */
/* 
 *重置样式  开始 
*/
body,html{width:100%;height:100%;}
body{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: "Lucida Grande",Verdana,Lucida,Arial,Helvetica,Microsoft Yahei,simsun,sans-serif;
    color:#333;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
textarea:focus,input:focus,button:focus,a:focus{outline:none;}
dl,dt,dd,ul,ol,li,p,input,img,h1,h2,h3,h4,h5,h6,div,button,strong,textarea,i,a,span{
margin:0;padding:0;list-style:none;border:0;background:none;
}
a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a,i,span{display:block;}
/* 
 *重置样式  结束 
*/
body{width:100%;height:100%;overflow:hidden;}
/* Services 开始 */
/* Services 首屏 开始 */
.wrap{
    width:100%;
    height:100%;
    background:url(../img/bg1.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.Services_content_bg{
    position:fixed;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    background:#ED5650;
    overflow:hidden;
    transition:all 0.1s;
}
.S_c_title{
    font-size: 100px;
    text-align: center;
    padding:0 20px;
    color:#f8bfbe;
    text-shadow:1px 1px 1px #2C2639;
}
.S_c_btn{
    font-size: 18px;
    width:225px;
    height:83px;
    text-align: center;
    line-height: 83px;
    background:#fff url(../img/S_c_btn.png) no-repeat right 32px center;
    border-radius: 100px;
    margin: 30px auto 0px;
    cursor: pointer;
    color:#2C2639;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}
.S_c_btn:hover{
    background-color:#E8E8E8;
}
.S_c_t_content1{
    -webkit-animation:S_c_t_c1 0.6s ease-in-out 0.3s backwards;
    -moz-animation:S_c_t_c1 0.6s ease-in-out 0.3s backwards;
    -ms-animation:S_c_t_c1 0.6s ease-in-out 0.3s backwards;
    -o-animation:S_c_t_c1 0.6s ease-in-out 0.3s backwards;
    animation:S_c_t_c1 0.6s ease-in-out 0.3s backwards;
}
@-webkit-keyframes S_c_t_c1{
    0%{transform:translateY(-40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@-moz-keyframes S_c_t_c1{
    0%{transform:translateY(-40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@-ms-keyframes S_c_t_c1{
    0%{transform:translateY(-40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@-o-keyframes S_c_t_c1{
    0%{transform:translateY(-40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@keyframes S_c_t_c1{
    0%{transform:translateY(-40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}

.S_c_t_content2{
    -webkit-animation:S_c_t_c2 0.6s ease-in-out 0.3s backwards;
    -moz-animation:S_c_t_c2 0.6s ease-in-out 0.3s backwards;
    -ms-animation:S_c_t_c2 0.6s ease-in-out 0.3s backwards;
    -o-animation:S_c_t_c2 0.6s ease-in-out 0.3s backwards;
    animation:S_c_t_c2 0.6s ease-in-out 0.3s backwards;
}
@-webkit-keyframes S_c_t_c2{
    0%{transform:translateY(40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@-moz-keyframes S_c_t_c2{
    0%{transform:translateY(40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@-ms-keyframes S_c_t_c2{
    0%{transform:translateY(40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@-o-keyframes S_c_t_c2{
    0%{transform:translateY(40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
@keyframes S_c_t_c2{
    0%{transform:translateY(40px);opacity:0;}
    100%{transform:translateY(0px);opacity:1;}
}
/* Services 首屏 结束 */
/* Services 列表 开始 */
.Services_list_wrap{
    width:225px;
    height:83px;
    background:#F4F4F5;
    border-radius: 100px;
    position:absolute;
    opacity:0;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
.S_l_content_bg{
    width:100%;height:100%;
    overflow:hidden;
}
.S_l_c_btnX{
    position:fixed;
    right:20px;
    top:20px;
    width:41px;
    height:41px;
    cursor:pointer;
    display:none;
    opacity:0.5;
}
.S_l_c_btnX:hover{
    opacity:1;
}
.S_l_c_btnX i{
    transition:all 0.3s;
    margin:0 auto;
}
.S_l_c_btnX i:hover{
    transform:rotate(180deg);
}
.S_l_c_wrap{
    position:fixed;
    left:40px;
    right:40px;
    top:40px;
    bottom:40px;
    overflow:hidden;
    display:none;
}
.S_l_content{
    margin:5% auto;
}
.S_l_c_title{
    width:216.71px;
    
    font-size: 30px;
    text-align: center;
    padding: 37px 30px;
    border-bottom: 1px solid rgba(44,38,57,0.24);
    margin:0 auto;
}
.S_l_c_list{
    width: 100%;
    max-width: 584px;
    padding: 20px;
    margin: 0 auto;
}
.S_l_c_list ul li{
    width:100%;
    display: table;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 1px solid rgba(44,38,57,0.24);
    padding: 15px 0px;
}
.S_l_c_list ul li span,.S_l_c_list ul li p{
    float:left;
}
.S_l_c_list ul li span{
    width:56px;
    height:56px;
    background: #FFFFFF no-repeat center;
    border-radius: 56px;
    margin-right: 10px;
}
.S_l_c_list ul li:nth-child(1) span{
    background-image: url(../img/s1_1436796427.png);
}
.S_l_c_list ul li:nth-child(2) span{
    background-image: url(../img/s2_1436796451.png);
}
.S_l_c_list ul li:nth-child(3) span{
    background-image: url(../img/s3_1436796461.png);
}
.S_l_c_list ul li:nth-child(4) span{
    background-image: url(../img/s4_1436796470.png);
}
.S_l_c_list ul li:nth-child(5) span{
    background-image: url(../img/s5_1436796479.png);
}
.S_l_c_list ul li .S_l_c_l_text{
    font-size: 16px;
    padding: 10px;
    line-height: 36px;
    text-align: left;
    transition:all 0.3s;
    margin-left: 66px;
}
.S_l_c_list ul li .S_l_c_l_text a{
    color:#222;
}
.S_l_c_list ul li .S_l_c_l_text:hover{
    background:#fff;
    border-radius: 10px;
}
.S_l_c_list a:link,.S_l_c_list a:visited{
    color:#333;
}
.S_l_c_list a:hover{
    color:#111;
}
.S_l_c_list ul li:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
/* Services 列表 结束 */


/* 神奇宝贝动画页 开始 */
.Pocket_Monster{
    width:100%;
    height:100%;
    background:#fff;
    position:fixed;
    left:0;top:0;
    transform:rotateY(90deg);
    transition:transform 0.3s ease-in-out;
}
.PM_bg{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:url(../img/bg1.JPG) no-repeat;
    background-position: center;
    background-size:150% 150%;
    opacity:0.8;
}
.PM_btn{
    position:absolute;
    left:20px;
    top:20px;
    font-size: 50px;
    color:#fff;
    cursor:pointer;
    opacity:0.5;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}
.PM_btn:hover{
    opacity:1;
}
/*.PM_content{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) 1px, transparent 1px, transparent 30px, rgba(255, 255, 255, 0.3) 30px, rgba(255, 255, 255, 0.3) 31px, transparent 31px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) 1px, transparent 1px, transparent 30px, rgba(255, 255, 255, 0.3) 30px, rgba(255, 255, 255, 0.3) 31px, transparent 31px, transparent 60px), repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 1px, transparent 30px);
}*/
.eevee {
    height: 325px;
    width: 410px;
    position:absolute;
    left:50%;margin-left: -162.5px;
    top:50%;margin-top:-205px;
}
@media (max-width: 600px) {
    .eevee {transform: scale(0.8);}
}
@media (max-width: 300px) {
    .eevee {transform: scale(0.5);}
}
.eevee * {position: absolute;}
.body {
    animation: body 5s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    height: 100px;
    position: absolute;
    width: 125px;
    top: 164px;
    left: 140px;
    background: #C49152;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 70%;
    box-shadow: inset -15px 0 0 #9D7442;
}

.chest {
    animation: chest 10s 0.05s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    height: 110%;
    width: 130px;
    left: -30px;
    z-index: 1;
}

.fur {
    height: 80px;
    width: 80px;
    top: 0;
    border-radius: 50%;
    background: linear-gradient(to top, #EFE1AF, white 40%, white 50%, #EFE1AF 75%);
}
.fur:first-child {
    animation: fur-center 10s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    height: 110px;
    width: 110px;
    left: calc(50% - 55px);
    z-index: 1;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2), 3px 0 15px rgba(0, 0, 0, 0.2);
}
.fur:first-child > .patch {
    height: 50%;
    width: 50%;
    left: 25%;
    -webkit-transform-style: none;
          transform-style: none;
    bottom: 8%;
}
.fur:first-child > .patch:before {
    animation: fur-center-patch-left 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    left: 25%;
    top: 0;
    transform: rotate(65deg) skewX(15deg);
    box-shadow: 2px 0 #BFB48C;
    background: -webkit-linear-gradient(135deg, #BFB48C, #EFE1AF 9%, transparent 20%);
    background: linear-gradient(-45deg, #BFB48C, #EFE1AF 9%, transparent 20%);
    border-top-right-radius: 60%;
    border-bottom-right-radius: 8%;
}
.fur:first-child > .patch:after {
    animation: fur-center-patch-right 10s 0.07s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    left: initial;
    right: 25%;
    top: 0;
    transform: rotate(35deg) skewX(15deg);
    box-shadow: 0 3px #BFB48C;
    background: linear-gradient(-37deg, #BFB48C, #EFE1AF 9%, transparent 20%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 8%;
}
.fur:nth-child(2) {left: -3px;}
.fur:nth-child(3) {
    animation: fur-right 10s 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    right: -20px;
}
.fur > .patch:before, .fur > .patch:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 100%;
}
.fur > .patch:before {
    background: linear-gradient(-30deg, #BFB48C, #EFE1AF 6%, white 55%, transparent);
}
.fur > .patch:after {
    background: linear-gradient(-30deg, #BFB48C, #EFE1AF 6%, white 55%, transparent);
}
.fur:not(:first-child) > .patch {
    height: 35%;
    width: 35%;
    bottom: 10%;
    left: 30%;
}
.fur:not(:first-child) > .patch:before, 
.fur:not(:first-child) > .patch:after {
    animation: fur-right-patch 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    top: -15%;
    left: 110%;
    transform-origin: top left;
    box-shadow: 2px 0 #BFB48C;
    border-top-right-radius: 75%;
    border-bottom-right-radius: 10%;
}
.fur:not(:first-child) > .patch:before {
    left: 150%;
    top: -25%;
}
.fur:not(:first-child) > .patch:after {
    animation-delay: 0.1s;
    left: 100%;
    top: 0%;
}

.head {
    height: 149px;
    width: 144px;
    top: -110px;
    left: -35px;
    z-index: 10;
    animation: head 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.head:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.head:after {
    content: '';
    position: absolute;
    display: block;
    height: 20%;
    width: 20%;
    background: green;
    transform: skewX(30deg) rotate(40deg);
    left: 50%;
    top: -2%;
    background: #C49152;
    box-shadow: -15px 8px #ca9d65, -25px 22px #cca069, -35px 50px #cda36f;
    z-index: -1;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top left, #9D7442, #C49152 60%, #C49152 70%, #d7b58b 100%);
}
.face, .face:before {
    border-top-left-radius: 40% 50%;
    border-top-right-radius: 40% 50%;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
}
.face:before {
    animation: head-shadow 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(farthest-side, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: -1;
    top: 20%;
    left: 0%;
}

.ears {
    width: 100%;
    height: 54px;
    z-index: -2;
}
.ear {
    width: 160px;
    height: 70px;
    left: 50%;
    bottom: 10%;
    transform-origin: bottom left;
    transform: translateX(40px);
}
.ear:before, .ear:after {
    animation: ear 10s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    animation-delay: 50ms;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(-25deg) skewY(5deg);
    background: radial-gradient(farthest-side, #6a3c1c, #5a3318);
    transform-origin: bottom left;
    border: 12px solid #260F02;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
.ear:after {
    border: 8px solid #9D7442;
    background: transparent;
}
.ear + .ear {
    transform: translateX(-40px) rotateY(180deg);
}
.ear > .lobe {
    height: 20%;
    width: 20%;
    background: #9D7442;
    bottom: 25%;
    left: -5%;
    transform: skewX(-50deg);
    border-top-right-radius: 15%;
    box-shadow: 9px 6px 0 #9D7442;
}

.eyes {
    width: 77%;
    height: 33%;
    left: 5%;
    top: 35%;
    animation: eyes 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
}

.eye {
    height: 100%;
    width: 28%;
    border-top-left-radius: 50% 65%;
    border-top-right-radius: 50% 65%;
    border-bottom-left-radius: 50% 35%;
    border-bottom-right-radius: 50% 35%;
    background-color: #260F02;
    box-shadow: inset 0 0 0 3px #260F02;
    background-image: radial-gradient(ellipse 5px 10px at 50% 65%, #260f02 0%, #260f02 99%, rgba(0, 0, 0, 0) 100%), radial-gradient(ellipse 10px 20px at 50% 90%, #955d27 0%, #955d27 99%, rgba(0, 0, 0, 0) 100%), radial-gradient(ellipse 4px 6px at 55% 20%, #ffffff 0%, #ffffff 99%, rgba(0, 0, 0, 0) 100%);
}
.eye:last-child {
    right: 10%;
    transform: rotateY(180deg);
}
.eye:before {
    content: '';
    display: block;
    position: absolute;
    height: 30%;
    width: 30%;
    background: transparent;
    border-radius: 50%;
    border-right: 3px solid #260F02;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    z-index: -1;
    transform: rotate(-38deg);
    top: -4px;
    left: initial;
    right: 2px;
    opacity: 0.6;
    z-index: 1;
}
.eye > .eyelid {
    height: 102%;
    width: 102%;
    left: -1%;
    top: -1%;
    overflow: hidden;
}
.eye > .eyelid:before {
    animation: eyelid 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #C49152;
    border-bottom: 3px solid #260F02;
    transform-origin: center bottom;
    transform: translateY(-100%);
    border-radius: 50% 50% 15% 15%;
}
.mouth {
    animation: mouth 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite, 
               mouth-move 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    animation-timing-function: step-end, cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-fill-mode: none;
    width: 12%;
    height: 6%;
    bottom: 13%;
    left: 33%;
    border-radius: 50%;
    box-shadow: 0 -2px #260F02;
}
.mouth:before, .mouth:after {
    animation: mouth-side 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    animation-timing-function: step-end;
    content: '';
    display: block;
    position: absolute;
    width: 60%;
    height: 100%;
    border-radius: 50%;
    bottom: 53%;
    border-bottom: 2px solid #260F02;
}
.mouth:before {
    right: 87%;
}
.mouth:after {
    left: 87%;
}
.nose {
    animation: nose 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    width: 6%;
    height: 4%;
    background: #260F02;
    border-bottom-left-radius: 50% 65%;
    border-bottom-right-radius: 50% 65%;
    border-top-left-radius: 50% 35%;
    border-top-right-radius: 50% 35%;
    bottom: 26%;
    left: 35%;
}

.tail {
    height: 120px;
    width: 120px;
    z-index: -1;
    animation: tail 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
}
.tail:before, .tail:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tail:after {
    background: #C49152;
    border-radius: 50%;
    transform: rotate(-135deg);
}
.body > .tail {
    z-index: -2;
    right: -40px;
    top: -70px;
}
.body > .tail:after {
    background: linear-gradient(to bottom right, #9D7442, #9D7442 20%, #C49152, #C49152);
}
.tail .tail {
    top: -35px;
    transform-origin: center bottom;
    transform: scale(0.85);
}
.tail > .tail .tail {
  z-index: 1;
}
.tail.-end {
  top: -60px;
}
.tail.-end:after {
    background: #EFE1AF;
    background: linear-gradient(to bottom right, #EFE1AF, white);
    border-radius: initial;
    border-bottom-left-radius: 100% 50%;
    border-top-right-radius: 50% 100%;
    border-top-left-radius: 50%;
}
.tail.-end:before {
    content: '';
    display: block;
    position: absolute;
    background: #C49152;
    height: 40%;
    width: 40%;
    z-index: 1;
    border-radius: 50% 50% 0 0;
    top: initial;
    bottom: -15%;
    left: 30%;
    box-shadow: -20px -5px #C49152, 20px -5px #C49152;
}
.tail > .tail > .tail * {
    animation: tail-end 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
}

.legs {
    animation: legs 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
    top: 70%;
    width: 100%;
    height: 100%;
}

.leg {
    top: 0;
    background: linear-gradient(to left, #9D7442, #C49152, #cca069);
    transform-origin: center top;
    animation: leg 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
}
.leg, .leg > .inner_leg {
    height: 40px;
    width: 30px;
    border-radius: 35%;
}
.leg:before, .leg:after {
    content: '';
    display: block;
    position: absolute;
}
.leg > .inner_leg {
    top: 50%;
    transform-origin: center 10%;
    animation: leg-inner 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
}
.leg > .inner_leg:before {
  -webkit-animation: paw-inner 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
          animation: paw-inner 10s 0s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
}
.leg:nth-child(1) {
    left: 20px;
    top: -2px;
}
.leg:nth-child(2) {
    left: 70px;
}
.leg:nth-child(2) ~ * {
    z-index: -1;
}
.leg:nth-child(2) ~ *, .leg:nth-child(2) ~ * > .inner_leg, .leg:nth-child(2) ~ * > .inner_leg:before {
    animation-delay: 0.07s;
}
.leg:nth-child(3) {
    left: 35px;
    top: -10px;
}
.leg:nth-child(4) {
    left: 90px;
    top: -10px;
}

.inner_leg {
    background: linear-gradient(to left, #9D7442, #C49152, #cca069);
}
.inner_leg:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -10%;
    width: 105%;
    height: 50%;
    border-top-left-radius: 40% 40%;
    border-top-right-radius: 40% 40%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-image: linear-gradient(to bottom, #C49152 0%, #C49152 50%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 25%, rgba(0, 0, 0, 0.5) 26%, rgba(0, 0, 0, 0.5) 35%, transparent 36%, transparent 65%, rgba(0, 0, 0, 0.5) 66%, rgba(0, 0, 0, 0.5) 75%, transparent 76%), linear-gradient(to top, #9D7442, #C49152, #cca069);
}
@media (max-width: 600px) {
    html body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
    html body .dex {
        max-width: 100%;
    }
}

.dex {
  font-family: Lato, sans-serif;
  max-width: 40%;
  font-size: 14px;
  color: white;
  font-weight: 300;
  padding: 1rem 2rem;
}

.heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 14px;
  letter-spacing: 0.25ch;
}
.heading > span {
  font-weight: 100;
  margin-right: 0.5ch;
}
.heading > strong {
  font-size: 28px;
  font-weight: 300;
}
.pokeball {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: -webkit-radial-gradient(0.4rem, #ffffff, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
    background: radial-gradient(0.4rem, #ffffff, #ffffff 50%, rgba(0, 0, 0, 0) 50%);
    margin-right: 1rem;
}
.pokeball:before, .pokeball:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.063rem;
    left: 0;
    height: 50%;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    box-shadow: inset 0 -0.09rem 0 0.09rem white, inset 0.09rem -0.09rem 0 0.09rem white, inset -0.09rem -0.09rem 0 0.09rem white;
}
.pokeball:after {
    transform-origin: top center;
    transform: rotateX(180deg);
    bottom: 0.063rem;
}
.info {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 14px;
}
.subheading {
    font-size: 18px;
    line-height: 28px;
}
@keyframes head {/* 头部整体动画*/
  0% {transform:  translateY(2%);}
  7.69231%  {transform:  translateY(2%);}
  15.38462% {transform:  translateY(2%);}
  23.07692% {transform:  translateY(2%);}
  30.76923% {transform:  translateY(2%);}
  46.15385% {transform:  translateY(2%);}
  53.84615% {transform:  translateY(2%);}
  61.53846% {transform:  translateY(2%);}
  69.23077% {transform:  translateY(2%);}
  100%      {transform:  translateY(2%);}
  3.84615%  {transform:  translateY(0);}
  11.53846% {transform:  translateY(0);}
  19.23077% {transform:  translateY(0);}
  26.92308% {transform:  translateY(0);}
  50%       {transform:  translateY(0);}
  57.69231% {transform:  translateY(0);}
  65.38462% {transform:  translateY(0);}
  73.07692% {transform:  translateY(0);}
  34.61538% {transform:  translateY(2%) rotate(-3deg);}
  38.46154% {transform:  translateY(-5%) rotate(7deg);}
  76.92308% {transform:  translateY(7%) rotate(-3deg);}
  84.61538% {transform:  translateY(-7%) rotate(3deg);}
}
@keyframes head-shadow {/* 头部阴影动画*/
  0%        {transform:  translateY(-2%);}
  7.69231%  {transform:  translateY(-2%);}
  15.38462% {transform:  translateY(-2%);}
  23.07692% {transform:  translateY(-2%);}
  30.76923% {transform:  translateY(-2%);}
  46.15385% {transform:  translateY(-2%);}
  53.84615% {transform:  translateY(-2%);}
  61.53846% {transform:  translateY(-2%);}
  69.23077% {transform:  translateY(-2%);}
  100%      {transform:  translateY(-2%);}
  3.84615%  {transform:  translateY(1%);}
  11.53846% {transform:  translateY(1%);}
  19.23077% {transform:  translateY(1%);}
  26.92308% {transform:  translateY(1%);}
  50%       {transform:  translateY(1%);}
  57.69231% {transform:  translateY(1%);}
  65.38462% {transform:  translateY(1%);}
  73.07692% {transform:  translateY(1%);}
  34.61538% {transform:  translateY(-5%);}
  38.46154% {transform:  translateY(5%);}
  76.92308% {transform:  translateY(-4%);}
  84.61538% {transform:  translateY(10%) scale(0.9);}
}
@keyframes eyes {/* 眼睛 */
  0%        {transform:  rotateX(-7deg) translateZ(10px);}
  7.69231%  {transform:  rotateX(-7deg) translateZ(10px);}
  15.38462% {transform:  rotateX(-7deg) translateZ(10px);}
  23.07692% {transform:  rotateX(-7deg) translateZ(10px);}
  30.76923% {transform:  rotateX(-7deg) translateZ(10px);}
  46.15385% {transform:  rotateX(-7deg) translateZ(10px);}
  53.84615% {transform:  rotateX(-7deg) translateZ(10px);}
  61.53846% {transform:  rotateX(-7deg) translateZ(10px);}
  69.23077% {transform:  rotateX(-7deg) translateZ(10px);}
  100%      {transform:  rotateX(-7deg) translateZ(10px);}
  3.84615%  {transform:  rotateX(7deg) translateZ(10px);}
  11.53846% {transform:  rotateX(7deg) translateZ(10px);}
  19.23077% {transform:  rotateX(7deg) translateZ(10px);}
  26.92308% {transform:  rotateX(7deg) translateZ(10px);}
  50%       {transform:  rotateX(7deg) translateZ(10px);}
  57.69231% {transform:  rotateX(7deg) translateZ(10px);}
  65.38462% {transform:  rotateX(7deg) translateZ(10px);}
  73.07692% {transform:  rotateX(7deg) translateZ(10px);}
  76.92308% {transform:  translateY(5%) rotateX(-20deg) translateZ(10px);}
  84.61538% {transform:  rotateX(20deg) translateZ(10px);}
}
@keyframes eyelid {/*眼皮*/
  0%        {transform:  translateY(-120%) rotate(-30deg);}
  23.07692% {transform:  translateY(-120%) rotate(-30deg);}
  24.61538% {transform:  translateY(-120%) rotate(-30deg);}
  76.92308% {transform:  translateY(-120%) rotate(-30deg);}
  95.38462% {transform:  translateY(-120%) rotate(-30deg);}
  23.46154% {transform:  translateY(0) rotate(0);}
  24.46154% {transform:  translateY(0) rotate(0);}
  77.30769% {transform:  translateY(0) rotate(0);}
  93.84615% {transform:  translateY(0) rotate(0);}
  79.23077% {transform:  translateY(-85%) rotate(30deg);}
  92.30769% {transform:  translateY(-85%) rotate(30deg);}
}
@keyframes nose {/* 鼻子*/
  0%        {transform:  translateY(30%);}
  7.69231%  {transform:  translateY(30%);}
  15.38462% {transform:  translateY(30%);}
  23.07692% {transform:  translateY(30%);}
  30.76923% {transform:  translateY(30%);}
  46.15385% {transform:  translateY(30%);}
  53.84615% {transform:  translateY(30%);}
  61.53846% {transform:  translateY(30%);}
  69.23077% {transform:  translateY(30%);}
  100%      {transform:  translateY(30%);}
  3.84615%  {transform:  translateY(-20%);}
  11.53846% {transform:  translateY(-20%);}
  19.23077% {transform:  translateY(-20%);}
  26.92308% {transform:  translateY(-20%);}
  50%       {transform:  translateY(-20%);}
  57.69231% {transform:  translateY(-20%);}
  65.38462% {transform:  translateY(-20%);}
  73.07692% {transform:  translateY(-20%);}
  76.92308% {transform:  translateY(70%);}
  84.61538% {transform:  translateY(-60%);}
}
@keyframes mouth-move {/*嘴动画*/
  0%        {transform:  translateY(15%);}
  7%  {transform:  translateY(15%);}
  15% {transform:  translateY(15%);}
  23% {transform:  translateY(15%);}
  30% {transform:  translateY(15%);}
  46% {transform:  translateY(15%);}
  53% {transform:  translateY(15%);}
  61% {transform:  translateY(15%);}
  69% {transform:  translateY(15%);}
  100%      {transform:  translateY(15%);}
  3.84615%  {transform:  translateY(-5%);}
  11.53846% {transform:  translateY(-5%);}
  19.23077% {transform:  translateY(-5%);}
  26.92308% {transform:  translateY(-5%);}
  50%       {transform:  translateY(-5%);}
  57.69231% {transform:  translateY(-5%);}
  65.38462% {transform:  translateY(-5%);}
  73.07692% {transform:  translateY(-5%);}
  76.92308% {transform:  translateY(30%);}
  84.61538% {transform:  translateY(-10%);}
}
@keyframes mouth {/*嘴部样式*/
  0% {
    width: 12%;
    height: 6%;
    bottom: 13%;
    left: 33%;
    border-radius: 50%;
    box-shadow: 0 -2px #260F02;
    border: none;
    background: transparent;
  }
  93.07692% {
    width: 12%;
    height: 6%;
    bottom: 13%;
    left: 33%;
    border-radius: 50%;
    box-shadow: 0 -2px #260F02;
    border: none;
    background: transparent;
  }
  79.23077% {
    height: 10%;
    background: #B37B7E;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    box-shadow: inset 0 5px #260F02;
    border: 2px solid #260F02;
  }
  92.30769% {
    height: 10%;
    background: #B37B7E;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    box-shadow: inset 0 5px #260F02;
    border: 2px solid #260F02;
  }
}
@keyframes mouth-side {/*嘴部傍边*/
  0%        {opacity: 1;}
  93.07692% {opacity: 1;}
  79.23077% {opacity: 0;}
}
@keyframes ear {/*耳朵*/
  3.84615%  {transform:  rotateX(-20deg) rotate(-15deg);}
  11.53846% {transform:  rotateX(-20deg) rotate(-15deg);}
  19.23077% {transform:  rotateX(-20deg) rotate(-15deg);}
  26.92308% {transform:  rotateX(-20deg) rotate(-15deg);}
  50%       {transform:  rotateX(-20deg) rotate(-15deg);}
  57.69231% {transform:  rotateX(-20deg) rotate(-15deg);}
  65.38462% {transform:  rotateX(-20deg) rotate(-15deg);}
  73.07692% {transform:  rotateX(-20deg) rotate(-15deg);}
  0%        {transform:  rotateX(20deg) rotate(-5deg);}
  7.69231%  {transform:  rotateX(20deg) rotate(-5deg);}
  15.38462% {transform:  rotateX(20deg) rotate(-5deg);}
  23.07692% {transform:  rotateX(20deg) rotate(-5deg);}
  30.76923% {transform:  rotateX(20deg) rotate(-5deg);}
  46.15385% {transform:  rotateX(20deg) rotate(-5deg);}
  53.84615% {transform:  rotateX(20deg) rotate(-5deg);}
  61.53846% {transform:  rotateX(20deg) rotate(-5deg);}
  69.23077% {transform:  rotateX(20deg) rotate(-5deg);}
  100%      {transform:  rotateX(20deg) rotate(-5deg);}
  36.15385% {transform:  rotate(-20deg);}
  37.69231% {transform:  rotate(-20deg);}
  39.23077% {transform:  rotate(-20deg);}
  40.76923% {transform:  rotate(-20deg);}
  36.92308% {transform:  rotate(-10deg);}
  38.46154% {transform:  rotate(-10deg);}
  40%       {transform:  rotate(-10deg);}
  43.07692% {transform:  rotate(-10deg);}
  76.92308% {transform:  rotateX(20deg) rotate(-5deg);}
  80%       {transform:  rotateX(-30deg) rotate(-30deg);}
  83.07692% {transform:  rotateX(-30deg) rotate(-30deg);}
  86.15385% {transform:  rotateX(-30deg) rotate(-30deg);}
  89.23077% {transform:  rotateX(-30deg) rotate(-30deg);}
  92.30769% {transform:  rotateX(-30deg) rotate(-30deg);}
  81.53846% {transform:  rotateX(-20deg) rotate(-20deg);}
  84.61538% {transform:  rotateX(-20deg) rotate(-20deg);}
  87.69231% {transform:  rotateX(-20deg) rotate(-20deg);}
  90.76923% {transform:  rotateX(-20deg) rotate(-20deg);}
  93.84615% {transform:  rotateX(-20deg) rotate(-20deg);}
}
@keyframes tail {/*尾巴整体*/
  0%        {transform: scale(0.9) rotate(-5deg);}
  7.69231%   {transform: scale(0.9) rotate(-5deg);}
  15.38462% {transform: scale(0.9) rotate(-5deg);}
  23.07692% {transform: scale(0.9) rotate(-5deg);}
  30.76923% {transform: scale(0.9) rotate(-5deg);}
  46.15385% {transform: scale(0.9) rotate(-5deg);}
  53.84615% {transform: scale(0.9) rotate(-5deg);}
  61.53846% {transform: scale(0.9) rotate(-5deg);}
  69.23077% {transform: scale(0.9) rotate(-5deg);}
  100%      {transform: scale(0.9) rotate(-5deg);}
  3.84615%  {transform: scale(0.9) rotate(5deg);}
  11.53846% {transform: scale(0.9) rotate(5deg);}
  19.23077% {transform: scale(0.9) rotate(5deg);}
  26.92308% {transform: scale(0.9) rotate(5deg);}
  50%       {transform: scale(0.9) rotate(5deg);}
  57.69231% {transform: scale(0.9) rotate(5deg);}
  65.38462% {transform: scale(0.9) rotate(5deg);}
  73.07692% {transform: scale(0.9) rotate(5deg);}
  33.84615% {transform: scale(0.9) rotate(10deg);}
  35.38462% {transform: scale(0.9) rotate(-2deg);}
  38.46154% {transform: scale(0.9) rotate(-2deg);}
  41.53846% {transform: scale(0.9) rotate(-2deg);}
  36.92308% {transform: scale(0.9) rotate(4deg);}
  40%       {transform: scale(0.9) rotate(4deg);}
  43.07692% {transform: scale(0.9) rotate(4deg);}
  76.92308% {transform: scale(0.9) rotate(-7deg);}
  84.61538% {transform: scale(0.9) rotate(15deg);}
}
@keyframes tail-end {/*尾巴末端*/
  0%        {transform: scale(0.9) rotate(-12deg);}
  7.69231%  {transform: scale(0.9) rotate(-12deg);}
  15.38462% {transform: scale(0.9) rotate(-12deg);}
  23.07692% {transform: scale(0.9) rotate(-12deg);}
  30.76923% {transform: scale(0.9) rotate(-12deg);}
  46.15385% {transform: scale(0.9) rotate(-12deg);}
  53.84615% {transform: scale(0.9) rotate(-12deg);}
  61.53846% {transform: scale(0.9) rotate(-12deg);}
  69.23077% {transform: scale(0.9) rotate(-12deg);}
  100%      {transform: scale(0.9) rotate(-12deg);}
  3.84615%  {transform: scale(0.9) rotate(9deg);}
  11.53846% {transform: scale(0.9) rotate(9deg);}
  19.23077% {transform: scale(0.9) rotate(9deg);}
  26.92308% {transform: scale(0.9) rotate(9deg);}
  50%       {transform: scale(0.9) rotate(9deg);}
  57.69231% {transform: scale(0.9) rotate(9deg);}
  65.38462% {transform: scale(0.9) rotate(9deg);}
  73.07692% {transform: scale(0.9) rotate(9deg);}
  33.84615% {transform: scale(0.9) rotate(10deg);}
  35.38462% {transform: scale(0.9) rotate(-4deg);}
  38.46154% {transform: scale(0.9) rotate(-4deg);}
  41.53846% {transform: scale(0.9) rotate(-4deg);}
  36.92308% {transform: scale(0.9) rotate(12deg);}
  40%       {transform: scale(0.9) rotate(12deg);}
  43.07692% {transform: scale(0.9) rotate(12deg);}
  76.92308% {transform: scale(0.9) rotate(7deg);}
  81.53846% {transform: scale(0.9) rotate(-10deg);}
  84.61538% {transform: scale(0.9) rotate(-10deg);}
  87.69231% {transform: scale(0.9) rotate(-10deg);}
  90.76923% {transform: scale(0.9) rotate(-10deg);}
  83.07692% {transform: scale(0.9) rotate(2deg);}
  86.15385% {transform: scale(0.9) rotate(2deg);}
  89.23077% {transform: scale(0.9) rotate(2deg);}
  92.30769% {transform: scale(0.9) rotate(2deg);}
}
@keyframes chest {/*胸毛*/
  0%        {transform:  translateY(0);}
  30.76923% {transform:  translateY(0);}
  100%      {transform:  translateY(0);}
  34.61538% {transform:  rotate(-2deg) translateY(2%);}
  38.46154% {transform:  rotate(2deg) translateY(-2%);}
  69.23077% {transform:  translateY(0);}
  76.92308% {transform:  translateY(2%);}
  84.61538% {transform:  translateY(0);}
}
@keyframes fur-center {/* 中间的胸毛*/
  0%        {transform:  translateY(0);}
  7.69231%  {transform:  translateY(0);}
  15.38462% {transform:  translateY(0);}
  23.07692% {transform:  translateY(0);}
  30.76923% {transform:  translateY(0);}
  46.15385% {transform:  translateY(0);}
  53.84615% {transform:  translateY(0);}
  61.53846% {transform:  translateY(0);}
  69.23077% {transform:  translateY(0);}
  100%      {transform:  translateY(0);}
  3.84615%  {transform:  translateY(2%);}
  11.53846% {transform:  translateY(2%);}
  19.23077% {transform:  translateY(2%);}
  26.92308% {transform:  translateY(2%);}
  50%       {transform:  translateY(2%);}
  57.69231% {transform:  translateY(2%);}
  65.38462% {transform:  translateY(2%);}
  73.07692% {transform:  translateY(2%);}
}
@keyframes fur-center-patch-left {
  0%        {transform:  rotate(65deg) skewX(15deg);}
  7.69231%  {transform:  rotate(65deg) skewX(15deg);}
  15.38462% {transform:  rotate(65deg) skewX(15deg);}
  23.07692% {transform:  rotate(65deg) skewX(15deg);}
  30.76923% {transform:  rotate(65deg) skewX(15deg);}
  46.15385% {transform:  rotate(65deg) skewX(15deg);}
  53.84615% {transform:  rotate(65deg) skewX(15deg);}
  61.53846% {transform:  rotate(65deg) skewX(15deg);}
  69.23077% {transform:  rotate(65deg) skewX(15deg);}
  100%      {transform:  rotate(65deg) skewX(15deg);}
  3.84615%  {transform:  rotate(60deg) skewX(15deg);}
  11.53846% {transform:  rotate(60deg) skewX(15deg);}
  19.23077% {transform:  rotate(60deg) skewX(15deg);}
  26.92308% {transform:  rotate(60deg) skewX(15deg);}
  50%       {transform:  rotate(60deg) skewX(15deg);}
  57.69231% {transform:  rotate(60deg) skewX(15deg);}
  65.38462% {transform:  rotate(60deg) skewX(15deg);}
  73.07692% {transform:  rotate(60deg) skewX(15deg);}
}
@keyframes fur-center-patch-right {
  0%        {transform:  rotate(35deg) skewX(15deg);}
  7.69231%  {transform:  rotate(35deg) skewX(15deg);}
  15.38462% {transform:  rotate(35deg) skewX(15deg);}
  23.07692% {transform:  rotate(35deg) skewX(15deg);}
  30.76923% {transform:  rotate(35deg) skewX(15deg);}
  46.15385% {transform:  rotate(35deg) skewX(15deg);}
  53.84615% {transform:  rotate(35deg) skewX(15deg);}
  61.53846% {transform:  rotate(35deg) skewX(15deg);}
  69.23077% {transform:  rotate(35deg) skewX(15deg);}
  100%      {transform:  rotate(35deg) skewX(15deg);}
  3.84615%  {transform:  rotate(30deg) skewX(15deg);}
  11.53846% {transform:  rotate(30deg) skewX(15deg);}
  19.23077% {transform:  rotate(30deg) skewX(15deg);}
  26.92308% {transform:  rotate(30deg) skewX(15deg);}
  50%       {transform:  rotate(30deg) skewX(15deg);}
  57.69231% {transform:  rotate(30deg) skewX(15deg);}
  65.38462% {transform:  rotate(30deg) skewX(15deg);}
  73.07692% {transform:  rotate(30deg) skewX(15deg);}
}
@keyframes fur-right {
  0%        {transform:  translateY(0);}
  7.69231%  {transform:  translateY(0);}
  15.38462% {transform:  translateY(0);}
  23.07692% {transform:  translateY(0);}
  30.76923% {transform:  translateY(0);}
  46.15385% {transform:  translateY(0);}
  53.84615% {transform:  translateY(0);}
  61.53846% {transform:  translateY(0);}
  69.23077% {transform:  translateY(0);}
  100%      {transform:  translateY(0);}
  3.84615%  {transform:  translateY(2%);}
  11.53846% {transform:  translateY(2%);}
  19.23077% {transform:  translateY(2%);}
  26.92308% {transform:  translateY(2%);}
  50%       {transform:  translateY(2%);}
  57.69231% {transform:  translateY(2%);}
  65.38462% {transform:  translateY(2%);}
  73.07692% {transform:  translateY(2%);}
}
@keyframes fur-right-patch {
  0%        {transform:  translateY(0) rotate(50deg);}
  7.69231%  {transform:  translateY(0) rotate(50deg);}
  15.38462% {transform:  translateY(0) rotate(50deg);}
  23.07692% {transform:  translateY(0) rotate(50deg);}
  30.76923% {transform:  translateY(0) rotate(50deg);}
  46.15385% {transform:  translateY(0) rotate(50deg);}
  53.84615% {transform:  translateY(0) rotate(50deg);}
  61.53846% {transform:  translateY(0) rotate(50deg);}
  69.23077% {transform:  translateY(0) rotate(50deg);}
  100%      {transform:  translateY(0) rotate(50deg);}
  3.84615%  {transform:  translateY(2%) rotate(56deg);}
  11.53846% {transform:  translateY(2%) rotate(56deg);}
  19.23077% {transform:  translateY(2%) rotate(56deg);}
  26.92308% {transform:  translateY(2%) rotate(56deg);}
  50%       {transform:  translateY(2%) rotate(56deg);}
  57.69231% {transform:  translateY(2%) rotate(56deg);}
  65.38462% {transform:  translateY(2%) rotate(56deg);}
  73.07692% {transform:  translateY(2%) rotate(56deg);}
}
@keyframes body {
  0%        {transform:  translateY(1%);}
  7.69231%  {transform:  translateY(1%);}
  15.38462% {transform:  translateY(1%);}
  23.07692% {transform:  translateY(1%);}
  30.76923% {transform:  translateY(1%);}
  46.15385% {transform:  translateY(1%);}
  53.84615% {transform:  translateY(1%);}
  61.53846% {transform:  translateY(1%);}
  69.23077% {transform:  translateY(1%);}
  100%      {transform:  translateY(1%);}
  3.84615%  {transform:  translateY(0);}
  11.53846% {transform:  translateY(0);}
  19.23077% {transform:  translateY(0);}
  26.92308% {transform:  translateY(0);}
  50%       {transform:  translateY(0);}
  57.69231% {transform:  translateY(0);}
  65.38462% {transform:  translateY(0);}
  73.07692% {transform:  translateY(0);}
  34.61538% {transform:  translateY(4%);}
  38.46154% {transform:  translateY(0);}
  76.92308% {transform:  translateY(3%);}
  79.23077% {transform:  translateY(-5%);}
  92.30769% {transform:  translateY(-5%);}
}
@keyframes leg {
  0%        {transform:  rotate(-12deg);}
  7.69231%  {transform:  rotate(-12deg);}
  15.38462% {transform:  rotate(-12deg);}
  23.07692% {transform:  rotate(-12deg);}
  30.76923% {transform:  rotate(-12deg);}
  46.15385% {transform:  rotate(-12deg);}
  53.84615% {transform:  rotate(-12deg);}
  61.53846% {transform:  rotate(-12deg);}
  69.23077% {transform:  rotate(-12deg);}
  100%      {transform:  rotate(-12deg);}
  3.84615%  {transform:  rotate(-6deg);}
  11.53846% {transform:  rotate(-6deg);}
  19.23077% {transform:  rotate(-6deg);}
  26.92308% {transform:  rotate(-6deg);}
  50%       {transform:  rotate(-6deg);}
  57.69231% {transform:  rotate(-6deg);}
  65.38462% {transform:  rotate(-6deg);}
  73.07692% {transform:  rotate(-6deg);}
  34.61538% {transform:  rotate(-16deg);}
  38.46154% {transform:  rotate(9deg);}
  76.92308% {transform:  translateY(-10%) rotate(-18deg);}
  79.23077% {transform:  translateY(5%) rotate(0);}
  92.30769% {transform:  translateY(5%) rotate(0);}
}
@keyframes leg-inner {
  0%        {transform:  rotate(28deg);}
  7.69231%  {transform:  rotate(28deg);}
  15.38462% {transform:  rotate(28deg);}
  23.07692% {transform:  rotate(28deg);}
  30.76923% {transform:  rotate(28deg);}
  46.15385% {transform:  rotate(28deg);}
  53.84615% {transform:  rotate(28deg);}
  61.53846% {transform:  rotate(28deg);}
  69.23077% {transform:  rotate(28deg);}
  100%      {transform:  rotate(28deg);}
  3.84615%  {transform:  rotate(16deg);}
  11.53846% {transform:  rotate(16deg);}
  19.23077% {transform:  rotate(16deg);}
  26.92308% {transform:  rotate(16deg);}
  50%       {transform:  rotate(16deg);}
  57.69231% {transform:  rotate(16deg);}
  65.38462% {transform:  rotate(16deg);}
  73.07692% {transform:  rotate(16deg);}
  34.61538% {transform:  rotate(40deg);}
  38.46154% {transform:  rotate(-10deg);}
  76.92308% {transform:  rotate(32deg);}
  79.23077% {transform:  rotate(0);}
  92.30769% {transform:  rotate(0);}
}
@keyframes paw-inner {
  0%        {transform:  rotate(-16deg);}
  7.69231%  {transform:  rotate(-16deg);}
  15.38462% {transform:  rotate(-16deg);}
  23.07692% {transform:  rotate(-16deg);}
  30.76923% {transform:  rotate(-16deg);}
  46.15385% {transform:  rotate(-16deg);}
  53.84615% {transform:  rotate(-16deg);}
  61.53846% {transform:  rotate(-16deg);}
  69.23077% {transform:  rotate(-16deg);}
  100%      {transform:  rotate(-16deg);}
  3.84615%  {transform:  rotate(-10deg);}
  11.53846% {transform:  rotate(-10deg);}
  19.23077% {transform:  rotate(-10deg);}
  26.92308% {transform:  rotate(-10deg);}
  50%       {transform:  rotate(-10deg);}
  57.69231% {transform:  rotate(-10deg);}
  65.38462% {transform:  rotate(-10deg);}
  73.07692% {transform:  rotate(-10deg);}
  34.61538% {transform:  rotate(-20deg);}
  38.46154% {transform:  rotate(0deg);}
  76.92308% {transform:  rotate(-14deg);}
  79.23077% {transform:  rotate(0);}
  92.30769% {transform:  rotate(0);}
}
/* 太TM难调了，好想死奥 */
/* 神奇宝贝动画页 结束 */
/* Services 结束 */

/* About 开始 */
.About{
    width:100%;
    height:100%;
    overflow-x:hidden;
}
.About_wrap{
    margin:30px;
}
.A_EASY{
    width:100%;
    position:relative;
}
.A_EASY_title{
    font-size: 100px;
    color:#fff;
    opacity:0.8;
    position:absolute;
    left:0;
    top:0;
}
.A_EASY_text{
    padding: 100px 20px;
    color: #fff;
    background: #ED5650;
    z-index: 2;
    margin-top: -3px;
    position:relative;
}
.A_EASY_text span{
    max-width: 765px;
    margin:0 auto;
    line-height: 207%;
    letter-spacing: 4px;
    text-align: center;
    margin-top: -25px;
    font-size: 16px;
}
.A_EASY_text .line{
    position:absolute;
    left:50%;
    bottom:-40px;
}
.awards_title{
    text-align: center;
    color: #645B71;
    font-size: 160px;
    font-family: 'Bryant-Bold';
    text-transform: uppercase;
    line-height: 115px;
}
.dian{
    width:10px;height:10px;
    border-radius: 20px;
    background:#fff;
    opacity:0.5;
    margin:50px auto;
}
.shadow1{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
    background: linear-gradient(to bottom, rgba(44,38, 56, 1) 0%, rgba(44,38, 56, 0.8) 20%, rgba(44,38,56,0) 100%);
}
.awards{
    position:relative;
}
.awards_title_xiao{
    text-align: center;
    max-width: 593px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 5px;
    font-size: 16px;
    color: #CCCBD2;
}
.awards_wrap{
    transform: matrix(1, 0, 0, 1, 0, 200);
    transition:all 0.5s;
}
.awards_list{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 748px;
}
.awards_list_z{
    display: inline-block;
    margin: 0px 40px 40px;
}
.z_img{
    width: 102px;
    height: 102px;
    margin:0 auto;
    background-position: center;
}
.z_img1{
    background:url(../img/a3_1431612110.png) no-repeat;
}
.z_img2{
    background:url(../img/css_1436761351.png) no-repeat;
}
.z_img3{
    background:url(../img/others_1436761608.png) no-repeat;
}
.ball{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    color: #ED5650;
    font-size: 45px;
    width: 166px;
    height: 166px;
    border-radius: 200px;
    background: #2C2638;
    text-align: center;
    line-height: 166px;
}
.team{
    text-align: center;
    color: #645B71;
    font-size: 160px;
    font-family: 'Bryant-Bold';
    text-transform: uppercase;
    line-height: 115px;
}
.awards_content2_wrap{
    transform: matrix(1, 0, 0, 1, 0, 100); 
    z-index: 10;
    transition:all 0.3s;
}
.awards_content2_box{
    background: #F0F0F0;
    padding: 20px 10px 0px;
    overflow: hidden;
}
.item{
    margin-bottom: 20px;
    float: left;
    width: 33.3333%;
    overflow:hidden;
}
.space{
    width:90%;height:100%;
    margin:0 auto;
    background: center no-repeat;
    background-size: 100% auto;
}
.awards_c2_shadow1{
    position: absolute;
    bottom:100%;
    left: 0px;
    right: 0px;
    height: 90px;
    background: linear-gradient(to top, rgba(44,38, 56, 1) 0%, rgba(44,38, 56, 0.8) 20%, rgba(44,38,56,0) 100%);
}
.awards_c2_shadow2{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    height: 90px;
    background: linear-gradient(to bottom, rgba(44,38, 56, 1) 0%, rgba(44,38, 56, 0.8) 20%, rgba(44,38,56,0) 100%);
}
.block_clients{
    /*transform: matrix(1, 0, 0, 1, 0, 30);        */
    margin-top: 160px;
}
.title_style1{
    text-align: center;
    color: #645B71;
    font-size: 160px;
    font-family: 'Bryant-Bold';
    text-transform: uppercase;
    line-height: 115px;
}
.clients_text{
    margin-top: 50px;
}
.clients_list{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
    overflow:hidden;
}
    
.clients_list_item{
    height: 175.68px;
    float: left;
    width: 20%;
    margin-bottom: 20px;
}
.clients_list_space{
    width:95%;
    height:100%;
    margin:0 auto;
    background:center no-repeat;
}
.footer{
    padding: 0px 20px;
    letter-spacing: 3px;
    padding: 10px 0px;
    text-align: center;
    font-size:16px;
}
.footer a{
    color:#fff;
    opacity:0.5;
}
/* About 结束 */









