body,ul,li,span,p,a,h5,h3,h1{
	margin:0;
	padding:0;
}
img{
	border:none;
	display:black;
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
body{
	font-family: georgia;
    font-style: italic;
}


/*第一屏*/
.b_oscreen{
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.b_os_con{
	height:1348px;
	background-image:url("../img/blog/img/img-1.jpg");
	background-repeat:no-repeat;
	background-position-x:100%;
	background-position-y: 0;
	background-color: #d9dad5;
	text-indent:-52px;
	position:relative;
	background-attachment: fixed;
}
.b_os_chara{
	width:308px;
	height:350px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-210px 0 0 -467px;
	/*display: none;*/
	
}
.b_os_chara img{
	position: relative;
    left: 35px;
    cursor: pointer;
}
.b_os_chara h1{
	font-style:italic;
	font-weight: 100;
}
/*指示*/
.b_os_indicate{
	position:fixed;
	bottom:10px;
	left:50%;
	background-image:url("../img/blog/img/img-3.png");
	background-size:35px;
	background-position:30px 0;
    background-repeat: no-repeat;
    font-size:16px;
    width: 110px;
    height: 60px;
    line-height: 90px;
    margin-left:-400px;
    opacity:1;
}
/*第二屏*/
.b_tscreen{
	height:1900px;
	position:relative;
	background-image:url("../img/blog/img/img-3.jpg");
}
.b_tcon{
	width: 300px;
    height: 587px;
	position:absolute;
	margin-left: -400px;
	left:40%;
	background-image:url("../img/blog/img/img-4.png");
	background-position:0 0;
	background-repeat: no-repeat;
	padding:102px 24px;
	 top: 100px;
	 display: inline-block;
}
.b_tcon .b_tcon_img{
	width:256px;
	height:384px;
	background-image:url("../img/blog/img/img-2.jpg");
	background-position-x:100px;
}
.b_ts_indicate{
	position: absolute;
    width: 470px;
    height: 450px;
    top: 100px;
    right: 10%;
    display: inline-block;
}
.b_ts_indicate h3{
	color:#fff;
	margin-top:90px;
}
.b_ts_indicate a{
	display: inline-block;
    padding: 15px 40px 15px 40px;
    margin: 100px 0 0 0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    border-radius: 7px;
    font-family: 'Questrial', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}

/*第三屏*/
.b_cscreen{
	width:100%;
	padding-bottom: 200px;
	position:relative;
	background-attachment: fixed;
	background-position: 50% 50%;
	transition:all 1s;
	background-color:rgba(0,0,0,0.3);
}
.b_tit{
	width:100%;
	text-align: center;
	font-size: 76px;
    text-align: center;
    padding: 170px 0;
    width: 100%;
    border-bottom: 1px solid #A7A7A7;
    position: relative;
    background-color:rgba(0,0,0,0.3);
}
.b_pic{
	transition:all 1s;
}
.b_pic li{
	position:relative;
	height: 130px;
	border-bottom:1px solid #A7A7A7;
	transition:all 1s;
	cursor:pointer;
	background-color:rgba(0,0,0,0.3);
	
}
.b_pic li .b_bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-attachment:fixed;
	background-position: 50% 50%;
	transition:all 1s;
}
.b_pic li span{
	position:absolute;
	top:20px;
	left: 320px;
	font-size: 70px;
	z-index: 1;
}	
.B_cover{
	width:100%;
	height:101%;
	position:absolute;
	left:0;
	top:0;
	z-index: 10;
}
/*第四屏*/
.b_fscreen{
	height: 3000px;
    background-image:url("../img/blog/img/img-43.jpg");
    background-repeat: no-repeat;
    background-color: #3477ab;
    background-position:0 100px;
    position:relative;
}
.b_fscreen_tit{
	position:absolute;
	right:30%;
	top:300px;
	font-size: 70px;
	color:#fff;
}
.b_fscreen div h1{
	font-size: 70px;
	margin: 10px 0;
}
.b_fscreen .b_news{
	position:relative;
	margin-left:1000px;
}
.b_fscreen div{
	position:absolute;
	right:14%;
	color:#fff;
}
.b_fscreen div span{
	display: block;
    font-size: 30px;
    width: 350px;
}
.b_plan_1{
	top:700px;	
}
.b_plan_2{
	top:1100px;	
}
.b_plan_3{
	top:1500px;	
}
.b_plan_4{
	top:1900px;	
}
.b_plan_5{
	top:2300px;	
}
.b_plan_7{
	top:2700px;	
}
/*百分比圆圈*/
.b_fscreen .b_show{
	width:200px;
	height:200px;
	border-radius:100px;
	background:#fff;
	position:fixed;
	right:50%;
	top:40%;
	opacity: 0;
	transition:opacity .5s;
	background-position-y = 0px;
}
.b_fscreen .b_show_con{
	width:200px;
	height:200px;
	border-radius:100px;
	position:absolute;
	right:0;
	top:0;
	background:#8eb0cb;
	clip:rect(0px,200px,200px,100px);
	transition:all .5s;
}
.b_fscreen .b_show_con_1{
	width:200px;
	height:200px;
	border-radius:100px;
	position:absolute;
	right:0;
	top:0;
	background:#8eb0cb;
	clip:rect(0px,200px,200px,100px);
	transition:all .5s;
}
/*第五屏*/
.b_escreen{
	height:1800px;
	position:relative;
}
/*左边*/
.b_escreen_le{
	position:relative;
	width:50%;
	height:100%;
	background:#000;
	float: left;
	color:#fff;
	overflow: hidden;
	text-align: center;
}
.b_escreen_le h1{
	font-size:70px;
	position:relative;
	top:200px;
}
.b_escreen_le h3{
	font-size:30px;
	position:relative;
	top:400px;
}
/*右边*/
.b_escreen_ri{
	position:relative;
	width:50%;
	height:100%;
	background:#fff;
	float: left;
	text-align: center;
}
.b_escreen_ri h1{
	font-size:60px;
	position:relative;
	top:200px;
}
.b_escreen_ri h3{
	font-size:30px;
	position:relative;
	top:400px;
}
/*小于号 大于号*/
.b_cha_le{
	position:absolute;
	width:60px;
	height:80px;
	left:0;
	top:50%;
	color:#fff;
	z-index: 1;
	background-image:url("../img/blog/img/img-7.png");
	background-repeat:no-repeat;
	margin-left:30px;
	cursor:pointer;
}
/*移动的图片*/
.b_escreen_le .b_img_le{
	width:100%;
	height:1170px;
	position:absolute;
	right:0;
	top: 35%;
	background-image:url("../img/blog/img/img-8.png");
	background-repeat:no-repeat;
	background-position:130px 0px  ;
}
.b_escreen_ri .b_img_ri{
	width:100%;
	height:1170px;
	position:absolute;	
	left:0;
	top: 35%;
	background-image:url("../img/blog/img/img-9.png");
	background-repeat:no-repeat;
	background-position:0px 0px  ;
} 
/*子页面的样式*/
.b_subpage_le{
	width:100%;
	height: 100%;
	position:fixed;
	left:0;
	top:0;
	/*z-index: 1;*/
}
/*第一层*/
.b_atier{
	position: absolute;
	width:100%;
	height: 100%;
	left:0;
	top:0;
	z-index: 3;
}
.b_leaf_t{
	position:absolute;
	left:0;
	top:0;
	width:50%;
	height:100%;
	background-image:url("../img/blog/img/img-12.png");
	background-size:100% 100%;
	transform: rotateY(90deg);
	background-color:red;
	transform-origin:0 0;
	font-size:40px;	
	color:#fff;
	transition:all 3s;
}
.b_leaf_b{
	position:absolute;
	right:0;
	top:0;
	width:50%;
	height:100%;
	background-image:url("../img/blog/img/img13.png");
	background-size:100% 100%;
	background-position:0 0;
	transform: rotateY(90deg);
	background-color:blue;
	transform-origin:100% 0;
	transition:all 3s;
}
/*第二层*/
.b_doorbell{
	width: 1px;
    border-left: 130px solid transparent;
    border-top: 230px solid lightsalmon;
    border-right: 130px solid transparent;
    border-bottom: 130px solid transparent;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -131px;
    margin-top: -60px;
    opacity: 0;
    transition: all 2s;
    cursor: pointer;
    z-index: 3;
    display: none;
    background:linear-gradient(red,blue);
}
/*第三层*/
.b_ctier{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,1);
	opacity: 0;
	z-index: 1;
	transition:all 4s;
}
/*第六屏*/
.b_gscreen{
	height: 1300px;
    background-image:url("../img/blog/img/img-44.jpg");
    background-repeat: no-repeat;
    background-color: #000;
    background-position-x: 50%;
    background-position-y: 90%;
   	background-attachment: fixed;
    padding-bottom: 10px;
	position: relative;
}
.b_member{
	position:absolute;
	left:20%;
	top:20%;
	font-size:70px;
	color:#fff;
}
.b_crew{
	position:absolute;
	left:20%;
	top:40%;
	font-size:30px;
	color:#fff;
	line-height:70px;
}
.b_gscreen_con{
	width: 156px;
    height: 156px;
	 background-repeat: no-repeat;
	background-image:url("../img/blog/img/img-10.png");
	position: absolute;
	right:20%;
	top:30%;
}
/*3d文字效果*/
/*.stereoscopic{
	position:relative;
	left:50%;
	top:50%;
}
.stereoscopic li{
	width:180px;
	height:180px;
	background:;
}*/
